In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/used-car-dataset/used_car_dataset.csv

# Upload Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv("/kaggle/input/used-car-dataset/used_car_dataset.csv")
df.head().T

,0,1,2,3,4
Brand,Honda,Toyota,Volkswagen,Maruti Suzuki,Maruti Suzuki
model,City,Innova,VentoTest,Swift,Baleno
Year,2001,2009,2010,2017,2019
Age,23,15,14,7,5
kmDriven,"98,000 km",190000.0 km,"77,246 km","83,500 km","45,000 km"
Transmission,Manual,Manual,Manual,Manual,Automatic
Owner,second,second,first,second,first
FuelType,Petrol,Diesel,Diesel,Diesel,Petrol
PostedDate,Nov-24,Jul-24,Nov-24,Nov-24,Nov-24
AdditionInfo,"Honda City v teck in mint condition, valid gen...","Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",Maruti Suzuki Swift 2017 Diesel Good Condition,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol"
AskPrice,"₹ 1,95,000","₹ 3,75,000","₹ 1,84,999","₹ 5,65,000","₹ 6,85,000"

# Data Cleaning

In [4]:
df.shape

(9582, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   object
dtypes: int64(2), object(9)
memory usage: 823.6+ KB

In [6]:
df.isnull().sum()

Brand            0
model            0
Year             0
Age              0
kmDriven        47
Transmission     0
Owner            0
FuelType         0
PostedDate       0
AdditionInfo     0
AskPrice         0
dtype: int64

In [7]:
df.columns=df.columns.str.lower()
df.head().T

,0,1,2,3,4
brand,Honda,Toyota,Volkswagen,Maruti Suzuki,Maruti Suzuki
model,City,Innova,VentoTest,Swift,Baleno
year,2001,2009,2010,2017,2019
age,23,15,14,7,5
kmdriven,"98,000 km",190000.0 km,"77,246 km","83,500 km","45,000 km"
transmission,Manual,Manual,Manual,Manual,Automatic
owner,second,second,first,second,first
fueltype,Petrol,Diesel,Diesel,Diesel,Petrol
posteddate,Nov-24,Jul-24,Nov-24,Nov-24,Nov-24
additioninfo,"Honda City v teck in mint condition, valid gen...","Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",Maruti Suzuki Swift 2017 Diesel Good Condition,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol"
askprice,"₹ 1,95,000","₹ 3,75,000","₹ 1,84,999","₹ 5,65,000","₹ 6,85,000"

In [8]:
for column in df.columns:
    print(column,df[column].unique())
    print("*"*50)

brand ['Honda' 'Toyota' 'Volkswagen' 'Maruti Suzuki' 'BMW' 'Ford' 'Kia'
 'Mercedes-Benz' 'Hyundai' 'Audi' 'Renault' 'MG' 'Volvo' 'Skoda' 'Tata'
 'Mahindra' 'Mini' 'Land Rover' 'Jeep' 'Chevrolet' 'Jaguar' 'Fiat'
 'Aston Martin' 'Porsche' 'Nissan' 'Force' 'Mitsubishi' 'Lexus' 'Isuzu'
 'Datsun' 'Ambassador' 'Rolls-Royce' 'ICML' 'Bajaj' 'Opel' 'Ashok'
 'Bentley' 'Ssangyong' 'Maserati']
**************************************************
model ['City' 'Innova' 'VentoTest' 'Swift' 'Baleno' 'X3' '5 Series'
 'maruti-suzuki-dzire' 'Ecosport' 'Alto-K10' 'Carnival' 'Swift-Dzire'
 'Corolla' 'GLE COUPE' 'Xcent' 'Seltos' 'Ertiga' '3 Series GT' 'Endeavour'
 'Innova Crysta' 'A3' 'KWID' 'Hector' 'Celerio' 'Vitara-Brezza'
 '2.8 Legender 4X2' 'S90' 'Venue' 'Creta' 'Alcazar' 'i20' 'E-Class' 'Polo'
 'Verna' 'A4' 'Fortuner' 'C-Class' 'Kushaq' 'Ciaz' 'Safari' 'BRV' 'Duster'
 'Wagon-R' 'Bolero Power Plus' 'Eon' 'Hector Plus' 'XUV500' 'GLS' 'i10'
 'GLA Class' 'Carens' 'Ignis' 'Grand i10' 'Getz Prime' 'Ritz' 'Sonet'
 'GLC Coupe' 'Scorpio-N' 'Cooper 3 DOOR' 'Nexon' 'Etios' 'CrossPolo'
 'Vento' 'Range Rover Evoque' 'Indigo Ecs' 'Thar' 'Camry' 'Bolero' 'Brio'
 'City ZX' 'WRV' 'Discovery Sport' 'Harrier' 'Zest' 'Eeco' 'Swift Dzire'
 'Sx4' 'Kodiaq' 'Altroz' 'Grand i10 Nios' 'Alto-800' 'X1' 'X5' 'Rapid'
 'TUV' 'Alto K10' 'M-Class' 'Glanza' 'Compass' 'Omni' 'Cruze' 'Amaze'
 'Jazz' 'Scala' 'S-Presso' 'Tucson' 'Alto' 'Santa Fe' 'Dzire' 'ASTOR' 'Q7'
 'Cooper 5 DOOR' 'Q3' 'Hexa' 'Creta Facelift' '7 Series' 'Bolt' 'XF'
 'Tiago' 'Indigo Marina' 'Nano Genx' 'City Hybrid eHEV' 'Tiguan' 'G'
 '3 Series' 'Range Rover' 'Grand Vitara' 'XC 90' 'A6' 'Polo GTI' 'Virtus'
 'A-Star' 'Cooper S' 'Etios Liva' 'CLA' 'XUV700' 'Alturas G4' 'Scorpio'
 'New i20' 'Alto 800' 'Elite i20' 'Defender' 'Santro Xing' 'Linea'
 'Vanquish' 'maruti-suzuki-brezza' 'A8 L' 'V40 Cross Country' 'Captur'
 'Passat' 'KUV 100' 'Bolero Neo' 'Elantra' 'Macan' 'Terrano'
 'Swift-Dzire-Tour' 'XL6' 'Xylo' 'S-Class' '6 Series GT' 'Figo' 'Ameo'
 'Innova Hycross' 'Triber' 'Q5' 'Motors FM Gurkha' 'Jeep' '718' 'Punto'
 'Corolla Altis' 'Pajero Sport' 'Manza' 'Cooper Convertible'
 'Scorpio Classic' 'CRV' 'ES' 'GL-Class' 'Tigor' 'X7' 'Octavia' 'Wagon R'
 'S-Cross' 'Gypsy' 'Renault Logan' 'Boxster' 'Indigo Cs' 'XC40' 'Lodgy'
 'Nano' 'XC60' 'Z4' 'Civic' 'Urban Cruiser' 'Brezza' 'Punch' 'Cedia' 'GLC'
 'Sonata Embera' 'Figo Aspire' 'Accord' '3 DOOR' 'MAX' 'G Class'
 'Indica Vista' 'RediGO' 'CLS-Class' 'VELLFIRE' 'Superb' 'Zen-Estilo'
 'Cooper' 'Estilo' 'X4' 'LX' 'Enjoy' 'Mobilio' 'Punto EVO'
 'Bolero Neo Plus' 'Scorpio N' 'D-Max V-Cross' 'Fluidic Verna' 'G-Class'
 'XUV 300' 'Optra' ' Wagon R' 'Cooper Countryman' 'GLE' 'GLC Class'
 'Fiesta Classic' 'MUX' 'V-Class' 'Safari Storme' 'Indica Ev2' 'Celerio-X'
 'Land Cruiser' 'Indica' 'MICRA PRIMO' 'Tavera' 'S-Cross1'
 'S60 Cross Country' 'Slavia' 'Punch ' '1000' 'XJ' 'Fronx' 'Beat' 'Santro'
 'S60' 'Cayenne' 'Range Rover Sport' 'Verito' 'WR-V' 'Laura' '800'
 'Range Rover Velar' 'Jetta' 'Wagon-R-1-0' 'Freelander 2' 'Spark'
 'Discovery' 'C Class' 'Micra' 'Kiger' 'Ambassador' 'Marazzo' 'i20 Active'
 'Redi Go' '2 Series' 'Esteem' 'Outlander' 'Etios Cross' 'GLA' 'GLE Class'
 'Accent' 'Marshal' 'Fabia' 'A5' 'Jimny' 'AMG GLE Coupe' 'Countryman'
 'Sail U-VA' 'Fluence' 'NX' 'Fiesta' 'Pulse' 'Sonata' 'Tiago Nrg'
 '1 Series' 'S 80' 'Aura' '6 Series' 'Meridian' 'Kicks' 'Vitara Brezza'
 '3 Series Gran Limousine' 'PATROL' 'B Class' 'TUV 300' 'Sail' 'Yaris'
 'Sumo Grande MK II' 'S80' 'Celerio X' 'EON' 'Motors FM Trax Cruiser'
 'XUV300' 'Sunny' 'Sumo Gold' 'OptraSRV' 'Indica V2' 'X6' 'Magnite'
 'KUV100 NXT' 'Gloster' 'Urban Cruiser Hyryder' 'Trailblazer' 'Quanto'
 'Sumo Victa' 'i20 N Line' 'Xenon XT' 'Lancer' 'Land Cruiser Prado'
 'Taigun' 'Zen Estilo' 'Cooper Clubman' 'Beetle' 'A-Class Limousine' 'XE'
 'Venue N Line' 'CR-V' 'tata-punch' 'Cayenne Coupe' 'F-Pace' 'Grand Punto'
 'GO' 'Phantom Series II' '5 Series Gt' 'Venture' 'Aspire' 'LS' 'Mustang'
 'Tiguan All Space' 'Free Style' 'H5x' 'XC90' 'TUV 300-plus' 'New Santro'
 'Wagon R 1.0' 'AMG C 43' 'New Elantra' 'Motors FM Force One Test'
 'New-gen Swift' 'Punto Pure' 'Rhino Rx' 'New Accord' 'RX' 'Xcent Prime'
 'E-20' 'RE60' 'New Duster' 'Ssangyong-Rexton' 'Grand i10 Prime'
 'Wrangler' 'SLK-Class' 'SX4' 'Phantom Drop HeadCoupe' 'Nuvosport'
 'Panamera' 'Wagon-R-Stingray' '5 DOOR' 'Micra Active' 'Cayman' 'AMG A35'
 'Optra Magnum' 'M340i' 'GTI' 'Getz' 'X5 M' 'Baleno-RS' 'A Class' 'Exter'
 'Invicto' 'Rexton' 'Sumo' 'Stingray' 'Teana' 'Corsa' 'Fronx '
 'Accent Hatchback' 'SL-Class' 'Vista Tech' 'Captiva' 'GO Plus'
 'A3 Cabriolet' 'Leyland Stile' 'Flying Spur' 'Curvv' 'Estima' 'Ikon'
 'Avventura' 'Others' 'Ssangyong Rexton' 'A-class Limousine'
 '2.9 Sportback' 'CERATO' 'Elevate' 'Urvan' 'Hi-Lande Isuzu Hi-Lander'
 'AMG' 'Urban Cross' 'Gran Turismo']
**************************************************
year [2001 2009 2010 2017 2019 2014 2020 2018 2021 2012 2007 2016 2015 2023
 2011 2022 2013 2006 2005 2024 1998 2008 2004 1994 2002 2003 1997 2000
 1990 1996 1999 1986]
**************************************************
age [23 15 14  7  5 10  4  6  3 12 17  8  9  1 13  2 11 18 19  0 26 16 20 30
 22 21 27 24 34 28 25 38]
**************************************************
kmdriven ['98,000 km' '190000.0 km' '77,246 km' ... '243,000 km' '43,700 km'
 '83,228 km']
**************************************************
transmission ['Manual' 'Automatic']
**************************************************
owner ['second' 'first']
**************************************************
fueltype ['Petrol' 'Diesel' 'Hybrid/CNG']
**************************************************
posteddate ['Nov-24' 'Jul-24' 'Oct-24' 'Aug-24' 'Sep-24' 'May-24' 'Jun-24' 'Apr-24'
 'Jan-24' 'Feb-24' 'Dec-23' 'Mar-24']
**************************************************
additioninfo ['Honda City v teck in mint condition, valid genuine car,'
 'Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, Diesel'
 'Volkswagen Vento 2010-2013 Diesel Breeze, 2010, Diesel' ...
 'Maruti Suzuki Alto 800 CNG LXI Optional, 2020, CNG & Hybrids'
 'Maruti Suzuki Ritz VDi, 2013, Diesel'
 'Hyundai New i20 1.2 Asta IVT, 2021, Petrol']
**************************************************
askprice ['₹ 1,95,000' '₹ 3,75,000' '₹ 1,84,999' ... '₹ 3,45,111' '₹ 3,35,999'
 '₹ 1,36,00,000']
**************************************************